{% unless postslistCounter %} {% assign postslistCounter = postslist | size %}
{% endunless %}

{% capture headingEl %}{{ headingLevel | default: "h2" }}{% endcapture %}
<div class="c-postlist">
  {% for post in postslist reversed %}
  <article class="c-postlist__item o-stack">
    <{{ headingEl }}>
      {%- if post.data.title -%}{{ post.data.title }}{%- else -%}
      <code>{{ post.url }}</code>
      {%- endif -%}
    </{{ headingEl }}>
    <p>
      {{ post.templateContent | strip_html | toExcerpt }} <a href="{{ post.url | url }}">Read more <span
          class="o-visually-hidden">of {{ post.data.title }}</span></a>
    </p>
    <footer class="o-cluster">
      <p>
        <b>Published:</b>
        <time datetime="{{ post.date | htmlDateString }}">
          {{ post.date | readableDate }}
        </time>
        {% if post.data.updated %} | <b>Last updated:</b>
        <time datetime="{{ post.data.updated | htmlDateString }}">
          {{ post.data.updated | readableDate }}
        </time>
        {% endif %}
      </p>
      <span id="taglist-label" hidden>Tags</span>
      <ul class="c-tags o-cluster" aria-labelledby="taglist-label">
        {% for tag in post.data.tags %} {% if collections.tagList contains tag
        %}<li>{% tagLink tag %}</li> {% endif
        %} {% endfor %}
      </ul>
    </footer>
  </article>
  {% endfor %}
</div>