{% unless postslistCounter %} {% assign postslistCounter = postslist | size %}
{% endunless %}

<ol reversed style="counter-reset: start-from {{ postslistCounter | plus: 1 }}">
  {% for post in postslist reversed %}
  <li>
    <p>
      <time datetime="{{ post.date | htmlDateString }}">
        {{ post.date | readableDate }}
      </time>
    </p>
    <a href="{{ post.url | url }}">
      {%- if post.data.title -%}{{ post.data.title }}{%- else -%}
      <code>{{ post.url }}</code>
      {%- endif -%}
    </a>
    <p>
      {% for tag in post.data.tags %} {%- if collections.tagList contains tag
      -%} {% tagLink tag %}{{ " " }} {%- endif -%} {% endfor %}
    </p>
  </li>
  {% endfor %}
</ol>
