---
layout: layouts/base.liquid
templateClass: tmpl-post
---

<article class="post">
  <header>
    {% if date %}
      <time class="post__date" datetime="{{ date | htmlDateString }}">
        <span role="presentation">{{ date | readableDate }}</span>
      </time>
    {% endif %}
    <h1 class="page__title">{{ title }}</h1>
  </header>

  {{ content }}
</article>

<p>
  <a href="{{ '/' | url }}">â† Home</a>
</p>

{% include bio %}