---
layout: default
---

<header class="c-post__grid">
  <h1 class="c-post__title">{{title}}</h1>
</header>
{% if featuredImage %}
<img class="c-featured-image" src="{{ featuredImage | url }}" alt="" />
{% endif %}
<div class="c-post__grid c-post__content">
  <footer class="c-post__footer">
    <p>
      <b class="u-block">Published:</b>
      <time datetime="{{ post.date | htmlDateString }}">
        {{ date | readableDate: 'LLLL dd, yyyy' }}
      </time>
    </p>
    {% if updated %}
    <p>
      <b class="u-block">Last updated:</b>
      <time datetime="{{ updated | htmlDateString }}">
        {{ updated | readableDate: 'LLLL dd, yyyy' }}
      </time>
    </p>
    {% endif %}
    <p><b class="u-block">Reading time:</b> {% readingTime content %}</p>
    <p>
      <b class="u-block">Tags:</b>
      {% assign displayTags = tags | displayTags %} {% for tag in displayTags %}
      {% tagLink tag %} {%- unless forloop.last -%}, {%- endunless -%}{% endfor
      %}
    </p>
  </footer>
  <div class="o-stack u-mw-0">
    {{content}}
    <aside class="c-post__aside">
      <p>
        <a href="#">Discuss on Twitter</a> <span aria-hidden="true">•</span>
        <a href="#">Edit post on GitHub</a>
      </p>
      <p>
        Share: <a href="#">Twitter</a> <span aria-hidden="true">•</span>
        <a href="#">Facebook</a>
      </p>
    </aside>
  </div>
</div>
