---
layout: default
---

<header>
  <h1>{{title}}</h1>
</header>
{% if featuredImage %}
<img class="c-featured-image" src="{{ featuredImage | url }}" alt="" />
{% endif %}
<footer>
  <p>
    <time datetime="{{ post.date | htmlDateString }}">
      {{ date | readableDate: 'LLLL dd, yyyy' }}
    </time>
  </p>
  <p>{% readingTime content %}</p>
  <p>
    {% assign displayTags = tags | displayTags %} {% for tag in displayTags %}
    {% tagLink tag %} {%- unless forloop.last -%}, {%- endunless -%}{% endfor %}
  </p>
</footer>
<div class="c-post-content o-stack">{{content}}</div>
<aside>
  <p>
    <a href="#">Discuss on Twitter</a> <span aria-hidden="true">•</span>
    <a href="#">Edit post on GitHub</a>
  </p>
  <p>
    Share: <a href="#">Twitter</a> <span aria-hidden="true">•</span>
    <a href="#">Facebook</a>
  </p>
</aside>
<div>
  <p class="c-bio">
    Ryan Boone is a real-life human front-end developer and designer based in
    Fort Worth, TX with a passion for web technologies, inclusivity, and Texas
    BBQ. He currently helps make the space that comes from The Container Store.
  </p>
</div>
